
{% extends 'hod_base.html' %}
{% block title %}Home{% endblock title %}
  {% block body %}
 


  <main id="main" class="main">

    <div class="pagetitle">
      <h1>Enter Details</h1>
      <nav>
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="/hod_home">Home</a></li>
          
          <li class="breadcrumb-item active">Theory</li>
        </ol>
      </nav>
    </div><!-- End Page Title -->
    <section class="section">
      <div class="row">
        <div class="col-lg-12">

          {% if allTeachers |length == 0 %} 
          <div class="alert alert-btn-outline-light" role="alert">  
           Add Teachers.
          </div>
         {% else %}
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">Theory</h5>
    

              
              <!-- Table with stripped rows -->
              <table class="table table-hover">
                <thead>
                  <tr>
                    <th>
                      sno
                    </th>
                    <th >Teacher</th>
                    <th>Assignment


                      {% with messages = get_flashed_messages(with_categories=true) %}
                      {% if messages %}
                          <div id="flash-container">
                              {% for category, message in messages %}
                              {% if category == 'Error' %}
                                
                              
                                  <div class="flash-message" id="{{ success }}" style="color: red;" >
                                      <strong>{{ category }}:</strong> {{ message }}
                                  </div>
                                  {% endif %}
                              {% endfor %}
                          </div>
                      {% endif %}
                  {% endwith %}
                  

                    </th>
                   
                    
                  </tr>


                  {% for teachers in allTeachers %}


                  <tr class="t"><td> {{loop.index}} </td>
                   
                   <td class="t"> {{teachers.name}} </td>
                   <td> 
                    <form action="/add_assign" method='POST'>
                      <form>
                        <div class="row mb-3">
                          
                          <div class="col-md-4">
                            <div class="form-floating mb-3">
                              <select class="form-select" id="cname" name="cname"   id="floatingSelect" aria-label="State"  required>
                                <option></option>
                                {% for classes in allclass %}
                        <option value={{classes.cid}} >{{classes.cname}}</option>
                        {% endfor %}</select>
                              
                                  <label for="floatingSelect">Class</label>
                                </div>
                              </div>
      
      
                              <div class="col-md-4">
                                <div class="form-floating mb-3">
                                  <select class="form-select" id="floatingSelect" aria-label="State" id="subject" name="subject"  required>
                                    
                                    <option></option>{% for subjects in allsub %}
                       
                                    <option value={{subjects.sid}}>{{subjects.sname}}</option>
                                  
                                    {% endfor %}          
                                  </select>
                                      <label for="floatingSelect">Subjects</label>
                                    </div>
                                  </div>
                                  <div class="col-md-4">
                                    
                                      <div class="form-floating">
                                        <input type="number" class="form-control" id="floatingEmail" min="1" max="10" id="weekc" name="weekc" placeholder="Classes in a week" required>
                                        <label for="floatingEmail" style="color: gray;">Classes in a week</label>
                                      </div>
                                    </div>
      
      
      
                                     
                                   
                               
                       <input type="hidden" id="teacher" name="teacher" value= {{teachers.teacher_id}}>
                       <div class="text-align">
                        <button type="submit"class="btn btn-outline-secondary btn-sm mx 2" style="color:black;">Assign</button>     
          
                      </form>
                       
                       
                    
                  </td>
                
                
                  
                
                 
                </tr>
                
                
                
                
                    <script>
                      document.addEventListener('DOMContentLoaded', function () {
                          var flashContainer = document.getElementById('flash-container');
                          var flashMessages = flashContainer.querySelectorAll('.flash-message');
                
                          var currentIndex = 0;
                
                          function showNextMessage() {
                              if (currentIndex < flashMessages.length) {
                                  flashMessages[currentIndex].style.display = 'block';
                                  setTimeout(hideCurrentMessage, 6000);  // Hide after 3 seconds
                              }
                          }
                
                          function hideCurrentMessage() {
                              flashMessages[currentIndex].style.display = 'none';
                              currentIndex++;
                              showNextMessage();
                          }
                
                          showNextMessage();
                      });
                  </script>
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                   
                   {% endfor %}
                


                </thead>
                <tbody>
                 
                  

                  
          
                </tbody>
              </table>

               <br><br><br>

              <div class="text-center">
                <a href="/generate" <button type="submit" class="btn btn-primary">Generate </button></a>     
  
      
  
      
  
  </div></div>
  
  </div>
       {% endif %}


       <br>
  
       <table class="table table-hover"><h2>Teachers Assigned</h2>
         <thead>
           <tr>
             <th scope="col">sno</th>           
             <th scope="col">Teachers</th>
             <th scope="col">Assigned classes</th>
             <th scope="col">No of classes</th>
             
           </tr>
         </thead>
         <tbody>
           {% for tn in allTeachers %}
            <tr>
             <td>{{loop.index}}</td>
             <td>{{tn.name}}</td>
             <td>
               {% for a in allassign %}
                 {% if a.teacher_id==tn.teacher_id %}
                 {% for c in allclass %}
                   {% if a.cid==c.cid %}
                   {{c.cname}}
                   {% endif %}
                 {% endfor %}
     
               
     
                   <br>
                 {% endif %}
               {% endfor %}
     
     
     
               {% for a in alllab %}
                 {% if a.teacher_id==tn.teacher_id %}
                 {% for c in allclass %}
                   {% if a.cid==c.cid %}
                   {{c.cname}}
                   {% endif %}
                 {% endfor %}
     
               
     
                   <br>
                 {% endif %}
               {% endfor %}
     
               
             </td>
             <td>
               {% set var =namespace(q=0)   %}
               
               {% for l in alllab  %}
                   {% if l.teacher_id==tn.teacher_id %}
                   
                   {% set var.q =var.q +l.weekc %}
               
     
                 
                   {% endif %}
                   {% endfor %}
     
     
             {% for a in allassign %}
             {% if a.teacher_id==tn.teacher_id %}
             {% set var.q =var.q +a.weekc %}
               
             {% endif %}
           {% endfor %}
           {{var.q}}
             </td>
             
             
            </tr> 
           {% endfor %}
         
         
         
             
     
       <br>
       
       <table class="table table-hover"><h2>Periods Assigned</h2>
         <thead>
           <tr>
             <th scope="col">sno</th>           
             <th scope="col">Class</th>
             <th scope="col">Assigned</th>
             <th scope="col">To be Assigned</th>
             
           </tr>
         </thead>
         <tbody>
           {% for c in allclass %}
            <tr>
             <td>{{loop.index}}</td>
             <td>{{c.cname}}</td>
             <td>
               {% if alllab|length == 0  %}
                   {% set var =namespace(q=0)   %}
                   
     
                   {% if allex|length == 0  %}
                   
                 
     
     
                   {% else %}
                   
                   {% for e in allex  %}
                       {% if c.cid==e.cid %}
                       
                       {% set var.q =var.q +1 %}
                   
         
                     
                       {% endif %}
                       {% endfor %}
                       
                   {% endif %}
     
     
     
                 
     
     
               {% else %}
               {% set var =namespace(q=0)   %}
               {% for l in alllab  %}
                   {% if c.cid==l.cid %}
                   
                   {% set var.q =var.q +l.weekc %}
               
     
                 
                   {% endif %}
                   {% endfor %}
     
     
                   {% if allex|length == 0  %}
                   
                 
     
     
                   {% else %}
                   
                   {% for e in allex  %}
                       {% if c.cid==e.cid %}
                       
                       {% set var.q =var.q +1 %}
                   
         
                     
                       {% endif %}
                       {% endfor %}
                       
                   {% endif %}
                   
               {% endif %}
     
     
               
               
               
               
               
               
               
               
               
               
               {% for a in allassign  %}
               
               {% if a.cid==c.cid %}
                {% set var.q =var.q +a.weekc %}
                
               {% endif %}
               
               {% endfor %}{{var.q}}
             </td>
             <td>
               
               {% set tobe =25-var.q  %}
               {{tobe}}
             </td>
            </tr> 
           {% endfor %}
         </div>
         
     
     
     
     
     {% if   alllab|length == 0 %} 
                  
                 {% else %}
                 
                
               <table class="table table-hover">
               
                 <h2> Lab Assigned</h2>
               <thead>
                 <tr>
                   <th scope="col">sno</th>           
                   <th scope="col">teacher</th>
                   <th scope="col">class</th>
                   <th scope="col">subject</th>
                   
                   <th scope="col">weekc</th>
     
                   
                 </tr>
               </thead>
               <tbody>
                 {% endif %}
           {% for a in   alllab %}  
             
          
             <tr>
               <th scope="row">{{loop.index}}</th>
             
               <td>
                 {% for t in   allTeachers %}  
                 {% if a.teacher_id==t.teacher_id %} 
                  {{t.name}}
                 {% endif %}
                 {% endfor %}</td>
               <td>
                 {% for t in   allTeachers %}
                 {% if a.teacher_id==t.teacher_id %} 
                 {% for c in   allclass %}  
                 {% if a.cid==c.cid %}
                 {{c.cname}}
                             {% endif %}
                 {% endfor %}
                 {% endif %}
                 {% endfor %}</td>
               <td>
                 {% for s in   allsub %}  
                 {% if a.sid==s.sid %} 
                 {{s.sname}}
                 {% endif %}
                 {% endfor %}</td>
     
     
                
     
     
                 <td>
                   {% for s in   allsub %}  
                   {% if a.sid==s.sid %} 
                   {{a.weekc}}
                   {% endif %}
                   {% endfor %}</td>
             
     
             </tr>
     
     
     
             
             {% endfor %}
            
           
         </div>
     
         {% if allex |length == 0 %} 
                  
                 {% else %}
         
         
         <table class="table table-hover"><h2>Other Department Teachers Assigned</h2>
           <thead>
             <tr>
               <th scope="col">sno</th>           
               <th scope="col">Teachers</th>
               <th scope="col">Classes</th>
               <th scope="col">Subjects</th>
               <th scope="col">Day</th>
               <th scope="col">Period</th>
               
             </tr>
           </thead>
           <tbody>
             {% for tn in allex %}
              <tr>
               <td>{{loop.index}}</td>
               <td>
                 {% for t in whole_Teachers %}
                 
                 
                 {% if tn.teacher_id==t.teacher_id %}
                 {{t.name}}
                 {% endif %}
                 
                 {% endfor %}
     
     
               </td>
               <td>
                 {% for c in allclass %}
                 
               
                 {% if tn.cid==c.cid %}
                 {{c.cname}}
                 {% endif %}
                 
                 {% endfor %}
     
               </td>
               <td>
                 {% for s in allsub %}
                 
               
                 {% if tn.cid==s.sid %}
                 {{s.sname}}
                 {% endif %}
                 
                 {% endfor %}
     
     
               </td>
               <td>{{tn.day}}</td>
               <td>{{tn.period}}</td>
               
               
               
              </tr> 
             {% endfor %}
     
              
           
       
           
     
          
           
           
             {% endif %}
     
     
     
         
         
         
             
             {% if   allassign|length == 0 %} 
                  
                 {% else %}
                
               <table class="table table-hover"><h2>Assignment</h2>
               <thead>
                 <tr>
                   <th scope="col">sno</th>           
                   <th scope="col">teacher</th>
                   <th scope="col">class</th>
                   <th scope="col">subject</th>
                   
                   <th scope="col">weekc</th>
     
                   <th scope="col">actions</th>
                 </tr>
               </thead>
               <tbody>
                 {% endif %}
           {% for a in   allassign %}  
             
          
             <tr>
               <th scope="row">{{loop.index}}</th>
             
               <td>
                 {% for t in   allTeachers %}  
                 {% if  a.teacher_id==t.teacher_id %} 
                  {{t.name}}
                 {% endif %}
                 {% endfor %}</td>
               <td>
                 {% for t in   allTeachers %}
                 {% if a.teacher_id==t.teacher_id %} 
                 {% for c in   allclass %}  
                 {% if a.cid==c.cid %}
                 {{c.cname}}
                             {% endif %}
                 {% endfor %}
                 {% endif %}
                 {% endfor %}</td>
               <td>
                 {% for s in   allsub %}  
                 {% if a.sid==s.sid %} 
                 {{s.sname}}
                 {% endif %}
                 {% endfor %}</td>
     
     
                 
     
     
                 <td>
                   {% for s in   allsub %}  
                   {% if a.sid==s.sid %} 
                   {{a.weekc}}
                   {% endif %}
                   {% endfor %}</td>
             
               <td>
                   <a href="/delete_assign/{{a.aid}}" <button type="button" class="btn btn-outline-secondary btn-sm mx 3">Delete</button></td>
     
             </tr>
     
     
     
             {% endfor %}
            
           </tbody>
         </table>
         
        
        
          
            <div class="text-center">
                <a href="/delete_all_assign" <button type="submit" class="btn btn-primary">Delete Theory Assignment </button></a>     
  
       
            
    
           </div>
              </div><!-- End Bordered Tabs -->

            </div>
          </div>

        </div>
      </div>
    </section>

  </main><!-- End #main -->

  <!-- ======= Footer ======= -->
  <footer id="footer" class="footer">
    <div class="copyright">
      &copy; Copyright <strong><span>Autoplanify</span></strong>. All Rights Reserved
    </div>
    <div class="credits">
      <!-- All the links in the footer should remain intact. -->
      <!-- You can delete the links only if you purchased the pro version. -->
      <!-- Licensing information: https://bootstrapmade.com/license/ -->
      <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/nice-admin-bootstrap-admin-html-template/ -->
     
    </div>
  </footer><!-- End Footer -->

  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>
 
 
  {% endblock body %}